*{
    margin: 0px;
    padding: 0px;
    color: white;
    
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: rgb(0, 8, 8);;
}
nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 8, 8);
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 100px;
    border-radius: 10px;
    
    height: 40px;
    margin: 5px;

}
.logo{
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    display: flex;
    align-items: center;
}
.box{
    
    display: flex;
    width: 600px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}
nav .fa-magnifying-glass{
    width: 200px;
    height: 40px;
   margin-top: 4px;
    border-radius: 10px;
    
    right: 150px;
    background-color: rgb(137, 136, 143);
}
.search{
    background-color: rgb(137, 136, 143);
    border: none;
    height: 40px;
    align-self: center;
}
::placeholder{
    color: white;
    padding-left: 28px;
}
nav .circle{
    position: absolute;
    border-radius: 50%;
    background-color: aqua;
    height: 50px;
    width: 50px;
    right: 10px;
    top: 0px;
}
.fa-bell{
    position: absolute;
    right: 170px;
    transform: scale(1.4);
}
.logo a{
    text-decoration: none;
    font-size: 20px;
}
.left-part{
    width: 1300px;
    height: 100%;
    border: 0.5px solid rgb(255, 255, 255);
    border-right: none;

   overflow-y: scroll;

    
}
.right-part{
    background-color: black;
    /* height: 100%; */
    width: 40rem;
    border: 0.5px solid rgb(255, 255, 255);
   overflow-y: scroll;
   
}
.part{
    display: flex;
    background-color: rgb(0, 27, 27);
}
.ad-img-1{
    background-image: url('./assest/download\ \(1\).jpg');
    border: 1px solid white;
    height: 15.7rem;
    width: 16rem;
   
    background-size: contain;
}
.ad-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    
}
.queue{
    height: 3rem;
   
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size:large;
    font-weight: 600;
}
.box .img{
    background-image: url('./assest/download\ \(2\).jpg');
    height: 50px;
    width: 40px;
    background-size: cover;
}
.box{
    /* border: 2px solid white; */
    justify-content: space-evenly;
    margin: 20px;
    
    
}
.box .icon{
    width: 50px;
    display: flex;
    /* border: 2px solid white; */
    flex-direction: row-reverse;
}
.box .details{
    width: 300px;
    text-align: center;
}
.left-part .Release{
    font-size: 20px;
    font-weight: 800;
    margin: 25px;
}
.latest-img{
    background-image: url('./assest/download\ \(2\).jpg');
    height: 3rem;
    width: 3rem;
    background-size: cover;
    margin-right: 1rem;
    margin-left: 1rem;
}
.latest-1{
    display: flex;
 
    width: 46%;
   margin: 1rem;
}
.latest-1 .icon{
    display: flex;
   

    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 1rem;
}
.latest{
    display: flex;
}
.popular-img{
    
    width: 200px;
    margin: 10px;
}
.popular-artist .popular-img .img{
    background-image: url('./assest/2vu73mc_sonu-nigam-_625x300_03_May_22.webp');
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
}
.popular-artist .caption{
    font-size: 20px;
    text-align: center;
}
.popular-artist{
    display: flex;
    overflow-x: scroll;
}
.Release{
    font-family: cursive;
}


